PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/techstore
JWT_SECRET=cambia_esta_clave_por_una_muy_segura
JWT_EXPIRES_IN=2h
SESSION_SECRET=cambia_esta_clave_de_sesion

# URL del frontend o cliente
CLIENT_URL=http://localhost:3000

# SMTP para MFA por correo
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_app_password

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
